name: Build APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential ccache git libncurses5 libstdc++6 libgtk3.0 libpangocairo-1.0-0 libdbus-glib-1-2 libgio2.0-cil libgirepository1.0-dev libcairo2-dev pkg-config python3 python3-pip zlib1g-dev openjdk-17-jdk libtool libffi-dev autoconf automake cmake
        pip install buildozer cython
    - name: Build APK
      run: buildozer -v android debug
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
